<div style="height: 480px;padding-top: 60px;">
    <div class="row">
        <ng-container *ngIf="cartItems.length !=0">
            <div class="col-md-1"></div>
            <div class="col-md-6">
                <div class="cart-item"
                    *ngFor="let item of cartItems; let i = index">
                    <div class="added-item-row">
                        <div class="added-item1">
                            <div>{{item.name}}</div>
                            <div class="price">{{item.price | currency:'INR' }}</div>
                            <div>{{item.description}}</div>
                        </div>
                        <div class="added-item2">
                            <img style="width: 120px;" src="{{item.imageUrl}}" alt="" [routerLink]="['/product',item.id]">
                        </div>
                    </div>
                    <div class="added-item-button">
                        <!-- <div class="added-item-delete">Delete</div>
                        <div class="added-item-wishlist">Move to Wishlist</div> -->
                        <div class="btn-group">
                            <button class="button" (click)="removeItem(item)">Delete</button>
                            <button class="button" (click)="addToWishlist(item)">{{value}}</button>
                          </div>
                    </div>
                </div> 
            </div>


        
            <div class="col-md-4">
                <div class="prc-summary">
                    <div class="price-summary">
                        Price Summary
                    </div>
                    <div class="paymentBox ">
                        <div class="paymentBoxInner">
                            <span>Total MRP</span>
                            <span class="price">{{cartTotal | currency:'INR' }}</span>
                        </div>
                        <div class="paymentBoxInner">
                            <span>Delivery Fee</span>
                            <span style="color: rgb(29, 136, 2);">FREE</span>
                        </div>
                        <div class="paymentBoxInner">
                            <span>Bag Discount</span>
                            <span class="price">-{{ discountTotal | currency:'INR' }}</span>
                        </div>
                        <div class="paymentBoxInner" style="font-family: montserrat, sans-serif;">
                            <span>Subtotal&nbsp;</span>
                            <span class="price">{{ cartTotal-discountTotal | currency:'INR' }}</span>
                        </div>
                        <div class="savingLabel">
                            <span id="os_savingLabel_text">You are saving {{ discountTotal | currency:'INR' }} on this
                                order
                            </span>
                        </div>
                    </div>


                    <div class="pmts-wrap">
                        <div class="pmts-pr">
                            <div>Total</div>
                            <div style="font-size: medium;">{{ cartTotal-discountTotal | currency:'INR' }}</div>
                        </div>
                        <div class="btn-area">
                            <div>
                                <button id="os_payNow_btn" class="pmts-btn" routerLink="/login"
                                    style="background-color: rgb(228, 169, 93); border-color: rgb(228, 169, 93); color: white;">Continue</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-1"></div>    
        </ng-container>
    </div>
</div>



<ng-container *ngIf="cartItems.length==0">
    <div class="container">
        <div class="card">
            <h5 class="card-title">My Cart</h5>
        </div>
        <div class="center">
            <img src="https://rukminim1.flixcart.com/www/800/800/promos/16/05/2019/d438a32e-765a-4d8b-b4a6-520b560971e8.png?q=90"
                alt="" style="position: center;">
            <h4>Your cart is empty!</h4>
            <h6>Add item to it now</h6>
            <button routerLink="/shoping-cart" class="btn btn-primary">Shop Now</button>
        </div>
    </div>
</ng-container>