<div style="height: 480px;padding-top: 60px;">
    <div class="row">
        <ng-container >
            <div class="col-md-1"></div>
            <div class="col-md-6">
                <div class="cart-item"
                    *ngFor="let item of wishlistItems; let i = index">
                    <div class="added-item-row">
                        <div class="added-item1">
                            <div>{{item.name}}</div>
                            <div class="price">{{item.price | currency:'INR' }}</div>
                            <div>{{item.description}}</div>
                        </div>
                        <div class="added-item2">
                            <img style="width: 120px;" src="{{item.imageUrl}}" alt="" [routerLink]="['/product',item.id]">
                        </div>
                    </div>
                    <div class="added-item-button">
                        <!-- <div class="added-item-delete">Delete</div>
                        <div class="added-item-wishlist">Move to Wishlist</div> -->
                        <div class="btn-group">
                            <button class="button" (click)="removeItem(item)">Delete</button>
                            <button class="button" (click)="addToCart(item)">Move to Cart</button>
                          </div>
                    </div>
                </div> 
            </div>
        </ng-container>
    </div>

    <div class="row">
        <ng-container *ngIf="wishlistItems.length==0">
            <div class="container">
                <div>
                    <h2>Wishlist</h2>
                </div>
                <div class="card">
                    <div style="font-size: large;padding: 4px;margin: 12px;">Your wishlist is currently empty!</div>
                </div>
                <div style="padding-top: 15px;">
                    <button class="pmts-btn" routerLink="/shoping-cart"
                        style="background-color: rgb(228, 169, 93); border-color: rgb(228, 169, 93); color: white;">Shop Now</button>
                </div>
            </div>
        </ng-container>
    </div>
</div>