<div style="width: 100%;margin-bottom: 20px;">
	<div style="width: 50%;display: inline; float: left;font-weight: 700;">FILTERS</div>
	<div style="width: 50%;display: inline; float: right; text-align: right;text-decoration: none;font-style: oblique;"><a href="#">CLEAR ALL</a></div>
</div>

<ngb-accordion>
	<ngb-panel title="Product Type">
		<ng-template ngbPanelContent>
			<div class="col-12 md:col-6 lg:col-3">
            <div *ngFor="let item of f1">
                <p-checkbox name="groupname" value={{item.name}} [(ngModel)]="selectedValues" (onChange)="onCheckboxChange($event)" ></p-checkbox>
                <span class="filter-text">{{item.name}}</span>
            </div>
        </div>
		</ng-template>
	</ngb-panel>
	<ngb-panel title="Purity">
		<ng-template ngbPanelContent>
			<div class="col-12 md:col-6 lg:col-3">
                <div *ngFor="let item of f2">
                    <p-checkbox name="groupname" value={{item.name}} [(ngModel)]="selectedPurities" (onChange)="onCheckboxChange($event)" ></p-checkbox>
                    <span class="filter-text">{{item.name}}</span>
                </div>
            </div>
		</ng-template>
	</ngb-panel>
	<ngb-panel title="Metal Colour">
		<ng-template ngbPanelContent>
			<div *ngFor="let item of f3">
                    <p-checkbox name="groupname" value={{item.name}} [(ngModel)]="selectedPurities" (onChange)="onCheckboxChange($event)" ></p-checkbox>
                    <span class="filter-text">{{item.name}}</span>
                </div>
		</ng-template>
	</ngb-panel>
</ngb-accordion>